---
// Component Imports
import { Services, Hero, Portfolio } from "@components";
import Main from "~/layouts/main.astro";
import I18n from "./i18n";
import { SITE_TITLE } from "~/constants";
import Mockup from "~/components/Mockup.astro";
import UsedBy from "~/components/UsedBy.astro";


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Loa212</title>
  </head>

  <Main title={SITE_TITLE} i18nId={I18n}>
    <Hero i18nId={I18n} />
    <Mockup  />
    <UsedBy i18nId={I18n} />
    <Services i18nId={I18n} />
    <Portfolio i18nId={I18n} />
  </Main>


</html>
