---
// Component Imports
import {
  Services,
  Hero,
  Portfolio,
  Pricing,
  BottomCta,
  Footer,
  Contact,
  PricelessPricing,
} from "@components";
import Main from "~/layouts/main.astro";
import I18n from "./i18n";
import { SITE_TITLE } from "~/constants";
import UsedBy from "~/components/UsedBy.astro";
import Stats from "~/components/Stats.astro";
const RECAPTCHA_SITE_KEY = import.meta.env.RECAPTCHA_SITE_KEY;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Loa212</title>
    <meta name="description" content="Loa212" />
  </head>

  <Main title={SITE_TITLE} i18nId={I18n}>
    <Hero i18nId={I18n} />

    <UsedBy i18nId={I18n} />
    <Stats i18nId={I18n} />
    <Services i18nId={I18n} />

    <PricelessPricing i18nId={I18n} />
    <Contact i18nId={I18n} siteKey={RECAPTCHA_SITE_KEY} />
    <Portfolio i18nId={I18n} />
    <BottomCta i18nId={I18n} />
    <Footer i18nId={I18n} />
  </Main>

  <script define:vars={{ RECAPTCHA_SITE_KEY: RECAPTCHA_SITE_KEY }}>
    document.addEventListener("DOMContentLoaded", () => {
      const contactForm = document.getElementById("contact-us");
      if (!contactForm) {
        console.error("Contact form not found");
        return;
      }

      const observer = new IntersectionObserver(
        (entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              // Load reCAPTCHA script dynamically
              const script = document.createElement("script");
              script.src = `https://www.google.com/recaptcha/api.js?render=${RECAPTCHA_SITE_KEY}`;
              script.onload = () => {
                document.dispatchEvent(new Event("recaptchaLoaded"));
              };
              document.head.appendChild(script);

              // Stop observing after loading the script
              observer.unobserve(entry.target);
            }
          });
        },
        { threshold: 0.5 }
      ); // Adjust threshold as needed

      observer.observe(contactForm);
    });
  </script>


</html>
