---
// Component Imports
import { Services, Hero } from "@components";
import Main from "~/layouts/main.astro";
import I18n from "./i18n";
import { SITE_TITLE } from "~/constants";
import Portfolio from "~/components/Portfolio.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Loa212</title>
  </head>

  <Main i18nId={I18n} title={SITE_TITLE}>
    <Hero i18nId={I18n} />
    <Services i18nId={I18n} />
    <Portfolio i18nId={I18n} />
  </Main>


</html>
