---
// Component Imports
import {
  Services,
  Hero,
  Portfolio,
  Testimonials,
  Pricing,
  BottomCta,
  Footer,
} from "@components";
import Main from "~/layouts/main.astro";
import I18n from "./i18n";
import { SITE_TITLE } from "~/constants";
import UsedBy from "~/components/UsedBy.astro";
import Stats from "~/components/Stats.astro";
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Loa212</title>
  </head>

  <Main title={SITE_TITLE} i18nId={I18n}>
    <Hero i18nId={I18n} />
    <!-- <Mockup  /> -->
    <UsedBy i18nId={I18n} />
    <Stats i18nId={I18n} />
    <Services i18nId={I18n} />
    <Testimonials i18nId={I18n} />
    <Pricing i18nId={I18n} />
    <Portfolio i18nId={I18n} />
    <BottomCta i18nId={I18n} />
    <Footer i18nId={I18n} />
  </Main>


</html>
