---
import { type CollectionEntry, getEntry } from "astro:content";
import getHrefPrefix from "../utils/getHrefPrefix";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;

const i18n = await getEntry("i18n", i18nId);
const { navbar } = i18n.data;

const prefix = getHrefPrefix(i18nId);
---

<!-- MOBILE -->
<li class="w-full lg:hidden">
  <a class="nav-link w-full btn btn-outline" href={prefix + "#services"}
    >{navbar.services}</a
  >
</li>
<li class="w-full lg:hidden">
  <a class="nav-link w-full btn btn-outline" href={prefix + "#pricing"}
    >{navbar.pricing}</a
  >
</li>
<li class="w-full lg:hidden">
  <a class="nav-link w-full btn btn-outline" href={prefix + "#contact-us"}
    >{navbar.contact}</a
  >
</li>
<li class="w-full lg:hidden">
  <a class="nav-link w-full btn btn-outline" href={prefix + "#portfolio"}
    >{navbar.portfolio}</a
  >
</li>

<!-- DESKTOP -->
<li class="hidden lg:block">
  <a href={prefix + "#services"}>{navbar.services}</a>
</li>
<li class="hidden lg:block">
  <a href={prefix + "#pricing"}>{navbar.pricing}</a>
</li>
<li class="hidden lg:block">
  <a href={prefix + "#portfolio"}>{navbar.portfolio}</a>
</li>
