---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { ArrowLeft, Globe } from "~/components/icons";
import Main from "~/layouts/main.astro";

export async function getStaticPaths() {
  const clients = await getCollection("portfolio");
  return clients.map((client) => ({
    params: { slug: client.slug },
    props: client,
  }));
}
type Props = CollectionEntry<"portfolio">;

const client = Astro.props;
const slug = client.slug;
const { date, description, hero, images, title, url } = client.data;
const { Content } = await client.render();
---

<Main title={title} i18nId={"en"}>
  <div class="container px-5 pt-8 mx-auto flex flex-wrap">
    <button
      onclick="
      history.back()
      "
      class="btn btn-primary ring-1 ring-white/20"
    >
      <ArrowLeft size={18} />
       back
    </button>
  </div>
  <section class="body-font">
    <div class="container px-5 pt-8 pb-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
        <figure transition:name={"client-screen-" + slug}>
          <Image alt={title} src={hero as ImageMetadata} />
        </figure>
      </div>
      <div
        class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center"
      >
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div
            transition:animate="slide"
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-5"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2
              transition:animate="slide"
              class="text-lg title-font font-medium mb-3"
            >
              {title}
            </h2>
            <p transition:animate="slide" class="leading-relaxed text-base">
              {description}
            </p>
            <div class="flex items-center justify-start mt-4">
              <a
                transition:animate="slide"
                href={url}
                target="_blank"
                class="btn btn-primary ring-1 ring-white/20"
              >
                <Globe size={18} />
                 Visit website
              </a>
            </div>
            <div class="grid grid-cols-3 gap-3 mt-4">
              {
                images.map((image) => (
                  <Image
                    alt=""
                    transition:animate="slide"
                    src={image as ImageMetadata}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <article
    transition:animate="slide"
    class="container w-full px-5 pt-8 pb-24 mx-auto flex flex-wrap prose prose-a:text-secondary"
  >
    <Content />
  </article>
</Main>
